{% extends "::base.html.twig" %} 

{% block title %}
Ajouter un article - {{ parent() }} 
{% endblock %} 

{% block body %}

	<h3> Ajouter un article.</h3>

	
	<div>
		<form method="post" action="#">
			<label for='typeArticle'>Type d'article :</label> 
			<select ame='typeArticle' id='typeArticle'>
				<option value='news'>News (privée)</option>
				<option value='article'>Article</option>
			</select>

			<label for='ajout_composant'> Ajouter :</label> <select
				name='ajout_composant' id='ajout_composant'>
				<option value='titre'>Titre</option>
				<option value='auteur'>Auteur</option>
				<option value='paragraphe'>Paragraphe</option>
				<option value='sousTitre'>Sous-titre</option>
				<option value='citation'>Citation</option>
				<option value='lieu'>Lieu</option>
				<option value='tableau'> Tableau </option>
				<option value='carousel'> Carousel</option>
			</select> <br /> <label for='priorite'>Priorité de l'article :</label>
			<select name=priorite ' id='priorite'>
				<option value='basse'>Basse</option>
				<option value='moyenne'>Moyenne</option>
				<option value='haute'>Haute</option>
			</select> <br /> <input type='submit' value='Valider' />
		</form>
	</div>
{%  endblock %}