{% extends "::base.html.twig" %} 

{% block title %}
Module Utilisateur - {{ parent() }} 
{% endblock %} 

{% block body %}
<ul>
	<li> <a href={{ path('pr2l_user_add') }}>- Ajouter un utilisateur </a> </li>
	<li> <a href={{ path('pr2l_user_view_all') }}>- Voir tous les utilisateurs </a> </li>
	<li> <a href={{ path('pr2l_user_remove') }}>- Desinscrire un utilisateur </a> </li>
	
</ul>
{% endblock %}