<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="utf-8">
<title>PR2L - Démo</title>
<!-- <link rel="stylesheet" href="" /> -->
<!-- <style></style> -->
</head>

<body>

	<div id="content" class="column">
		<div class="section">
			<a id="main-content"></a>
			<h1 class="title" id="page-title">vernissage de l’exposition
				«L’économie sociale et solidaire en Limousin»</h1>
			<div class="tabs"></div>
			<div class="region region-content">
				<div id="block-system-main" class="block block-system">
					<div class="content clearfix">
						<div
							class="field field-name-body field-type-text-with-summary field-label-hidden">
							<div class="field-items">
								<div class="field-item even" property="content:encoded">
									<p>
										<strong>Michel DA CUNHA, Vice-Président du Conseil général de
											la Corrèze</strong> et <strong>le Pôle international de
											Ressources de Limoges et du Limousin pour l’histoire du monde
											du travail </strong><strong>et de l’économie sociale</strong>
										(PR2L)
									</p>
									<p></p>
									<p>
										Ont le plaisir de vous convier le <strong>jeudi 6 Novembre
											2014 à 16 heures</strong> au Conseil général de la Corrèze
										(galerie du Bâtiment A) pour le vernissage de l’exposition
									</p>
									<p>
										<strong>«L’économie sociale et solidaire en Limousin»</strong>
									</p>
									<p></p>
									<p>A cette occasion seront aussi présentés :</p>
									<p>
										- le concours <strong>«L’économie sociale et solidaire, ça me
											concerne»</strong> destiné aux collégiens et lycéens de la
										Corrèze
									</p>
									<p>
										- l’ouvrage collectif <strong>«l’économie solidaire en
											pratique»</strong> par Madeleine Hersent et Arturo Palma
										Torré
									</p>
									<p></p>
									<p>
										<em>Merci de confirmer votre participation par mail aux
											adresses suivantes : <a href="mailto:vmarin@cg19.fr">vmarin@cg19.fr</a>
											ou <a href="mailto:contact@pr2l.fr">contact@pr2l.fr</a>​.
										</em>
									</p>
								</div>
							</div>
						</div>
						<hr />

						<title>Soirée d’étude : Utopies sociales au XIXème siècle en
							Haute-Vienne : les saint-simoniens | Pôle International de
							Ressources de Limoges et du Limousin pour l&#039;histoire du
							monde du travail et de l&#039;économie sociale</title>

						<div class="content clearfix">
							<div
								class="field field-name-body field-type-text-with-summary field-label-hidden">
								<div class="field-items">
									<div class="field-item even" property="content:encoded">
										<p>Le PR2L organise une soirée d’étude :</p>
										<p>
											<strong>Utopies sociales au XIXème siècle en Haute-Vienne :
												les saint-simoniens</strong>
										</p>
										<p>
											Cette soirée sera donnée par <strong>Michel DREYFUS</strong>,
											<strong>Philippe GRANDCOING, Maguelone NOUVEL-KIRSCHLEGER</strong>
											et animée par <strong>Dominique DANTHIEUX</strong>
										</p>
										<p>
											<em>Rendez-vous pour le <strong>mercredi 5 novembre 2014</strong>
												à partir de 18h<br /> Salle des Assemblées du <strong>Conseil
													Général de la Haute-Vienne</strong><br /> 11 rue François
												Chénieux, 87000 LIMOGES
											</em>
										</p>
										<p></p>
										<p>
											Cette manifestation est organisée dans le cadre du Mois de
											l’économie sociale et solidaire (<strong>CRESS Limousin</strong>)
											avec le soutien du <strong>Conseil Général de la Haute Vienne</strong>,
											avec le concours de l’État (<strong>ministère de la Culture
												et de la Communication – DRAC du Limousin</strong>) et en
											partenariat avec la <strong>Fondation du Crédit Coopératif</strong>.
										</p>
										<p></p>
									</div>
								</div>
							</div>

						</div>
						<hr />
						<h1 class="title" id="page-title">vernissage de l’exposition
							«L’économie sociale et solidaire en Limousin»</h1>
						<div class="tabs"></div>
						<div class="region region-content">
							<div id="block-system-main" class="block block-system">


								<div class="content">
									<div id="node-34"
										class="node node-article node-promoted node-full clearfix"
										about="/node/34" typeof="sioc:Item foaf:Document">

										<span property="dc:title"
											content="vernissage de l’exposition «L’économie sociale et solidaire en Limousin»"
											class="rdf-meta element-hidden"></span><span
											property="sioc:num_replies" content="0"
											datatype="xsd:integer" class="rdf-meta element-hidden"></span>

										<div class="content clearfix">
											<div
												class="field field-name-body field-type-text-with-summary field-label-hidden">
												<div class="field-items">
													<div class="field-item even" property="content:encoded">
														<p>
															<strong>Michel DA CUNHA, Vice-Président du Conseil
																général de la Corrèze</strong>
														</p>
														<p>et</p>
														<p>
															<strong>le Pôle international de Ressources de Limoges et
																du Limousin pour l’histoire du monde du travail </strong><strong>et
																de l’économie sociale</strong> (PR2L)
														</p>
														<p></p>
														<p>
															Ont le plaisir de vous convier le <strong>jeudi 6
																Novembre 2014 à 16 heures</strong> au Conseil général de
															la Corrèze (galerie du Bâtiment A) pour le vernissage de
															l’exposition
														</p>
														<p>
															<strong>«L’économie sociale et solidaire en Limousin»</strong>
														</p>
														<p></p>
														<p>A cette occasion seront aussi présentés :</p>
														<p>
															- le concours <strong>«L’économie sociale et solidaire,
																ça me concerne»</strong> destiné aux collégiens et
															lycéens de la Corrèze
														</p>
														<p>
															- l’ouvrage collectif <strong>«l’économie solidaire en
																pratique»</strong> par Madeleine Hersent et Arturo Palma
															Torré
														</p>
														<p></p>
														<p>
															<em>Merci de confirmer votre participation par mail aux
																adresses suivantes : <a href="mailto:vmarin@cg19.fr">vmarin@cg19.fr</a>
																ou <a href="mailto:contact@pr2l.fr">contact@pr2l.fr</a>​.
															</em>
														</p>
													</div>

</body>
</html>
