body{
	margin-left:25%;
	margin-top:10px;
	margin-right:25%;
	margin-bottom: 10px;
	padding: 10px;
	
	font-family: sans-serif;
}

p{
    text-align: justify;
}

.redim_img_banniere{
    height: 80px;
    overflow : hidden;
}

.redim_img_banniere:hover{
    height: 100%;
    overflow : hidden;
}

.redim_img_banniere_img {
    width: 100%;
}

.images-box ul li{ 
    position:relative;
    float:left; 
    width:100px;
    height:100px;
    padding:10px;
    list-style:none; 
} /*permet de créer deux lignes*/ 

.images-box ul li:nth-child(4n){
    clear:left;
} 

.images-box ul li a{ 
    display:block;
    overflow:hidden; 
    width:100px;
    height:100px; 
    margin-top:0px;margin-left:0px; 
    border:0px solid rgba(0,0,0,0.7); 
    transition-property:width,height,margin,z-index,border; 
    transition-duration:0.4s; 
} 

.images-box ul li a:hover{ 
    position:absolute;
    width:400px;
    height:400px; 
    margin-top:-150px;
    margin-left:-150px; 
    z-index:100; 
    border:6px solid rgba(0,0,0,0.7); 
} 

.images-box ul li a img{ 
    position:absolute; 
    width:100px;
    height:100px;
    z-index:20; 
    transition-property:width,height,z-index; 
    transition-duration:0.4s; 
} 

.images-box ul li a:hover img{ 
    width:400px;
    height:400px; 
    z-index:100; 
}