{# app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}OC Plateforme{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
  
  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}
</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>PR2L</h1>
      <p>
        Pôle international de Ressources de Limoges et du Limousin pour l'histoire du monde du travail et de l'économie sociale
      </p>      
    </div>

    <div class="row">
      <nav id="menu" class="col-md-3">
        {% block menu %}
        <h3>Menu</h3>
        <ul class="nav nav-pills nav-stacked">
       		<li> 
       		<a href={{ path('pr2l_user_main') }}>Gestion Utilisateurs</a> 
       		<ul>
       			<li> <a href="{{ path('pr2l_user_add') }}"> Ajouter un utilisateur </a> </li>
				<li> <a href="{{ path('pr2l_user_view_all') }}">Voir tous les utilisateurs </a> </li>
       		</ul>
       		</li>
       		
       		<li> 
       		<a href="" > Gestion Article </a>
       		<ul>
       		
       		</ul> 
       		</li>
        </ul>
        
        {# {% use 'PR2LMenuBundle:Menu:lister.html.twig' %}
        PEUT ETRE utile., mais peut-être pas !
        #}
        {% endblock %}
      </nav>
      <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
	  {% block footer %}
      <p> © {{ 'now'|date('Y') }}</p>
      {% endblock %}
    </footer>
  </div>

</body>
</html>