{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <nav>
        <ul id="menuArchive">
            <li><a href="">Consulter</a></li>
            <li><a href="">Recherche Avancée</a></li>
            <li><a href="">Ajouter une archive</a></li>
        </ul>
    </nav>

   
    
{% endblock %}
