{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - RechercheAvancée{% endblock %}

{% block body %}
<nav>
    <ul id="menuArchive">
        <li><a href=" {{ listeMenu[0] }}">Consulter</a></li>
        <li><a href=" {{ listeMenu[1] }}">Recherche Avancée</a></li>
        <li><a href=" {{ listeMenu[2] }}">Ajouter une archive</a></li>
        <li><a href="">Modifier une archive</a></li>
    </ul>
</nav>
{% endblock %}