{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - RechercheAvancée{% endblock %}

{% block body %}
<nav>
    <ul id="menuArchive">
        <li><a href=" {{ path('pr2_l_archives_archives') }}">Consulter</a></li>
        <li><a href=" {{ path('pr2_l_archives_rechercheAvancee') }}">Recherche Avancée</a></li>
        <li><a href=" {{ path('pr2_l_archives_ajouter') }}">Ajouter une archive</a></li>
        <li><a href="">Modifier une archive</a></li>
    </ul>
</nav>
{% endblock %}