{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Fondateurs{% endblock %}

{% block body %}
{{ maFonction() }}

<ul>
  {% for advert in listAdverts %}
    <li>{{ advert.content }}</li>
  {% endfor %}
</ul>

{% endblock %}