{% for menu in listMenu %}
    <li><a href="{{ menu.getLien() }}">{{ menu.getLibelle() }}</a>
   	<ul>
  	{% for menu2 in listMenu2 %}
        {% if menu2.getIdMenuParent() == menu.getId() %}   
    		  <li><a href="{{ menu2.getLien() }}">{{ menu2.getLibelle() }}</a></li>
    	{% endif%}
    {% endfor %}
	</ul>
    </li>
{% endfor %}


